@import url("https://fonts.googleapis.com/css?family=Karla:weight@400;700&display=swap");
$font: "Karla",sans-serif;
$primary-color: #1a2236;
$secondary-color: #2e364a;
$color1: #c0d7db;

body {
    background-color: $primary-color;
    margin: 0;
    font-family: $font;
    color:$color1;
}

* {
    box-sizing: border-box;
}

.container {
    width: 98%;
    margin: 0 auto;
}

.row {
    &::after {
        content: "";
        clear: both;
        display: table;
        zoom: 1;
    }
}

a {
    text-decoration: none;
}

[class*="col-"] {
    float: left;
    padding: 5px;
}

@for $i from 1 through 12 {

    .col-#{$i} {
        width: 100% / 12 * $i;
    }

}

@for $i from 1 through 12 {

    .offset-#{$i} {
        margin-left: 100% / 12 * $i;
    }

}


@media only screen and (min-width: 600px) {

    @for $i from 1 through 12 {

        .col-sm-#{$i} {
            width: 100% / 12 * $i;
        }

    }

    @for $i from 1 through 12 {

        .offset-sm-#{$i} {
            margin-left: 100% / 12 * $i;
        }

    }
}

@media only screen and (min-width: 768px) {
    @for $i from 1 through 12 {

        .col-md-#{$i} {
            width: 100% / 12 * $i;
        }

    }

    @for $i from 1 through 12 {


        .offset-md-#{$i} {
            margin-left: 100% / 12 * $i;
        }

    }
}

@media only screen and (min-width: 1200px) {
    .footer {
        position: absolute;
    }

    @for $i from 1 through 12 {

        .col-lg-#{$i} {
            width: 100% / 12 * $i;
        }

    }

    @for $i from 1 through 12 {

        .offset-lg-#{$i} {
            margin-left: 100% / 12 * $i;
        }

    }
}