@import "global/varable";

ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        text-shadow: 10px 10px 50px #ff0000;
        background-color: #fff;
        color: #555;
        margin: 5px 0;
        border-radius: 10px;
        padding: 10px 0 10px 15px;
        transition: 0.2s ease-in-out;
        position: relative;

        &.complated {
            text-decoration: line-through;
            background-color: lightgreen;
        }

        a {
            display: block;
        }

        i.delete {
            display: none;
        }

        &:hover {
            margin-left: 10px;

            i.delete {
                display: inline-block;
                width: 50px;
                position: absolute;
                right: 0;
                cursor: pointer;
                color: #ff0000;
            }
        }
    }
}

h2 {
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 1px solid #f00;
    // border-radius: 50px;
    padding-bottom: 5px;
}

.group {
    display: flex;
    width: 100%;

    input,
    button {
        border: none;
        padding: 10px;
        border-radius: 5px;
    }

    input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        width: 100%;
        outline: none;

        &.animate {
            transition: all 0.4s ease-in-out;
            width: 150px;

            &:focus {
                width: 100%;
            }
        }
    }

    button {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}

.fav-page {
    a {
        float: left;
        box-shadow: 0 2px 2px 1px rgb(135, 206, 250, .235);
        padding: 10px;
        border-radius: 10px;
        margin: 2.5px;
        color: $color1;
        &:hover{
            opacity: .5;
        }
    }
}

.footer {
    position: absolute;
    bottom: 5px;
    right: 0px;
    padding: 10px;

    a {
        color: #fff;
        cursor: pointer;
    }
}
